<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918963168995-sgieo8br6909ai2v420qpa0q7q60knkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918963168995-sgieo8br6909ai2v420qpa0q7q60knkt</string>
	<key>API_KEY</key>
	<string>AIzaSyBHN3b5WDi9tfrZN8fDTro3yBAMQLpPglI</string>
	<key>GCM_SENDER_ID</key>
	<string>918963168995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waste-management-app</string>
	<key>PROJECT_ID</key>
	<string>mobileapp-30060</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileapp-30060.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918963168995:ios:ed8f2bd98b5134075c87d6</string>
</dict>
</plist>